cryptography
Django==4.0.1
django-cors-headers
django-extensions
flake8
flake8-docstrings
model_bakery==1.4.0
psycopg2-binary
PyJWT==2.3.0
pytest==6.2.5
pytest-django
pytest-cov
python-dotenv==0.19.2
tqdm==4.62.3
