# Environment variables
python-dotenv

# Web
Django
django-phonenumber-field[phonenumbers]
django-countries

# Database
psycopg2-binary

# Authentication
cryptography
pyjwt

# Testing
flake8
model_bakery
pytest
pytest-django
pytest-cov